 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/orders}" th:text="#{order.info}"><span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" th:href="@{/allorders}" th:text="#{order.all}"><span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" th:href="@{/order}" th:text="#{order.create}"><span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
           <a class="nav-link" th:href="@{/pays}" th:text="#{pays}"><span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" th:href="@{/chat}" th:text="#{chat}"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/resetPassword}" th:text="#{reset.password}"><span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
            <a class="nav-item nav-link" th:href="@{/info}" th:text="#{updateInfo}"></a>
      </li>
     <li class="nav-item">
            <a class="nav-item nav-link" th:href="@{/logout}" th:text="#{logout}"></a>
      </li>
    </ul>
  </div>
     <nav class="navbar navbar-light bg-light">
            <form class="form-inline" method="POST" th:action="@{/find}">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
</nav>

    